html,
body,
header,
.jarallax {
  height: 700px;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
	height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
	height: 100vh;
  }
}

@media (min-width: 560px) and (max-width: 650px) {
  header .jarallax h1 {
	margin-bottom: .5rem !important;
  }
  header .jarallax h5 {
	margin-bottom: .5rem !important;
  }
}

@media (min-width: 660px) and (max-width: 700px) {
  header .jarallax h1 {
	margin-bottom: 1.5rem !important;
  }
  header .jarallax h5 {
	margin-bottom: 1.5rem !important;
  }
}

.top-nav-collapse {
  background-color: #7283A7 !important;
}

.navbar:not(.top-nav-collapse) {
  /*background: transparent !important;*/
    background: #7283A7 !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
	background: #7283A7 !important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: #7283A7!important;
	}
}

footer.page-footer {
  background-color: #383838;
}

@media (max-width: 450px) {
  .display-3 {
	font-size: 3rem;
  }
}
.navbar.scrolling-navbar {
    padding-bottom: 1px;
}

/*галерея*/
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}