{% extends 'base.html' %}
{% load static %}
{% block title %}Магазин {% endblock %}
{% block container %}
    <h1 class="font-weight-bold text-center h1 my-5">Каталог</h1>
    <div class="container">
        <div class="row">
            {% for object in object_list %}

                <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card card-ecommerce">
                        <form method="post" action="{% url 'add_item_to_cart' object.pk %}">
                            <!--Card image-->
                            <div class="view overlay z-depth-1">
                                <img src="/shop{{ object.image.url }}"
                                     class="card-img-top"
                                     alt="">
                                <a href="{% url 'shop_detail' object.pk %}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->
                            <!--Card content-->
                            <div class="card-body text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>{{ object.type }}</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">{{ object.name }}</a>
                                    </strong>
                                </h4>
                                <!--Description-->
                                <p class="card-text">{{ object.description|slice:':50' }}...</p>
                                <!--Card footer-->
                                <div class="card-footer">
                                    {% csrf_token %}
                                                                    <label for="id_quantity" >cols</label>
                                                                    <input type="number" name="quantity" value="1" min="1" required id="id_quantity">cols</input>
                                    <span class="float-left">{{ object.price }}₽
{#                                    <span class="discount">199$</span>#}
                                  </span>
                                    <span class="float-right">
                                    <button class="border-0 bg-transparent" type="submit" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                      <i class="fas fa-cart-plus"></i>

                                    </button>
                                  </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock container %}