{% extends 'base.html' %}
{% load static %}
{% block title %}О нас {% endblock %}
{% block container %}
    <div class="container">
    <section id="products" class="text-center wow fadeIn" data-wow-delay="0.3s">

        <!-- Section heading -->
        <h1 class="font-weight-bold text-center h1 my-5">We create awesome products</h1>
        <!-- Section description -->
        <p class="text-center grey-text mb-5 mx-auto w-responsive lead">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam.</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <i class="fas fa-4x fa-chart-area pink-text"></i>
                <h4 class="font-weight-bold my-4">Analytics</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <i class="fas fa-4x fa-pencil-alt cyan-text"></i>
                <h4 class="font-weight-bold my-4">Design</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
                <i class="fas fa-4x fa-laptop indigo-text"></i>
                <h4 class="font-weight-bold my-4">Development</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam, aperiam minima assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>

        <section id="gallery" class="section wow fadeIn" data-wow-delay="0.3s">

            <!-- Section heading -->
            <h1 class="font-weight-bold text-center h1 my-5">Our work</h1>
            <!-- Section description -->
            <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam.</p>

            <div class="row pb-4">
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox">

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(41).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(40).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(40).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(14).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(14).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(42).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                        <figure class="col-md-4">
                            <a href="https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(132).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(132).jpg"
                                     class="img-fluid z-depth-1"/>
                            </a>
                        </figure>

                    </div>

                </div>

            </div>

        </section>
    </div>

{% endblock container %}